<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleExecutable</key>
	<string>iSwitchy</string>
	<key>CFBundleIdentifier</key>
	<string>com.samabox.chrome.switchy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iSwitchy</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleVersion</key>
	<string>1.6.0</string>
	<key>WebPluginDescription</key>
	<string>Switchy! Chrome Extension 1.6</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-mhdhejazi-switchy-1.6</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Switchy! Chrome Extension 1.6</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Switchy! Chrome Extension 1.6</string>
</dict>
</plist>
